<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <span><a href="/campgrounds/new">Add a new campground</a></span><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% for (let campground of campgrounds) {%>
            <a href="/campgrounds/<%= campground._id %>" class="text-decoration-none text-muted">
                <div class="col px-3 " style="width: 18rem;">
                    <img src="<%= campground.image %> " class="card-img-top">
                    <div class="card-body border-primary">
                        <h5 class="card-title">
                            <%= campground.title%>
                        </h5>
                        <p class="card-text">
                            <%= campground.description%>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </a>
            <%}%>
    </div>