<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <span><a href="/campgrounds/new">Add a new campground</a></span><br>
        <% for (let campground of campgrounds) {%>
            <a href="/campgrounds/<%= campground._id %>" class="text-decoration-none text-muted">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            <%if(campground.image.length) {%>
                            <img class="img-fluid" style="height: 100%; width: 100%; object-fit: cover" src="<%=campground.image[0].url%>">
                            <% }else {%>
                            <img class="img-fluid" style="height: 100%; width: 100%; object-fit: cover"
                                src="https://res.cloudinary.com/dgvol2fmh/image/upload/v1661284480/Assets/scnoizbmkn8jjcdyi2im.jpg">
                            <% } %>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title mb-3">
                                <%= campground.title%>
                            </h5>
                            <p class="card-text mb-3">
                                <%= campground.description%>
                            </p>
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </a>
        <%}%>
    