<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <span><a href="/campgrounds/new">Add a new campground</a></span><br>
        <% for (let campground of campgrounds) {%>
            <div class="card mb-3">
                <a href="/campgrounds/<%= campground._id %>" class="text-decoration-none text-muted">
                    <div class="d-flex flex-row mb-3">
                        <div class="col-md-4">
                            <img src="<%= campground.image %> ">
                        </div>
                        <div class="p-5">
                            <h5 class="card-title mb-3">
                                <%= campground.title%>
                            </h5>
                            <p class="card-text mb-3">
                                <%= campground.description%>
                            </p>
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </a>
            </div>
        <%}%>
    