<% layout('layouts/boilerplate') %>
    <h1>
        <%= campgrounds.title %>
    </h1>
    <h2>
        <%= campgrounds.location  %>
    </h2>
    <img src="<%= campgrounds.image %> ">
    <h1>$
        <%= campgrounds.price %>
    </h1>
    <h3>Descriptions</h3>
    <p>
        <%= campgrounds.description %>
    </p>
    <span><a href="/campgrounds/<%= campgrounds._id %>/edit">Edit</a></span>
    <form action="/campgrounds/<%= campgrounds._id %>?_method=delete" method="post">
        <button>Delete</button>
    </form>
    <span><a href="/campgrounds">Return to campgrounds</a></span>