<% layout('layouts/boilerplate') %>
<style>
    *{
    margin: 0;
    padding: 0;
}
.rate {
    height: 46px;
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
</style>
<div class="row">
    <div class="col-6">
        <div class="card text text-center">
            <img src="<%= campgrounds.image %> " class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">
                    <%= campgrounds.title %>
                </h5>
                <p class="card-text">
                    <%= campgrounds.description %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= campgrounds.location  %>
                </li>
                <li class="list-group-item">$
                    <%= campgrounds.price %>/night</li>
            </ul>
            <div class="card-body d-flex justify-content-center gap-4">
                <button class="btn btn-info"><a href="/campgrounds/<%= campgrounds._id %>/edit" class="card-link text-decoration-none">Edit</a></button>
                <form action="/campgrounds/<%= campgrounds._id %>?_method=delete" method="post" class="card-link">
                   <button class="btn btn-danger">Delete</button> 
                </form>
            </div>
        </div>
        <span><a href="/campgrounds">Return to campgrounds</a></span>
    </div>
    <div class="col-6">
        <h2>Please Leave a Review</h2>
            <form action="/campgrounds/<%= campgrounds._id %>/reviews " method="post" class="mb-3 needs-validation" novalidate>
                    <div class="rate mb-3">
                        <input type="radio" id="star5" name="review[rate]" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="review[rate]" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="review[rate]" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="review[rate]" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="review[rate]" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                <div class="mb-3">
                    <label class="form-label" for="comment">Review</label>
                    <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="3" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let review of campgrounds.reviews) { %> 
                <div class="card mb-3">
                    <div class="card-body">
                        <h5>Rating: <%= review.rate %></h5>
                        <p>Review: <%= review.comment %></p>
                        <form action="/campgrounds/<%= campgrounds._id %>/reviews/<%= review._id %>?_method=delete " method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %> 
    </div>  
</div>
    